<div class="watch" *ngIf="carousel && video">
    <div class="play">
    <video id="videoPlayer" controls></video>
    </div>
    <div class="detail-watch">
        <p class="light-paragraph"><strong>Director</strong>: {{video.director}}</p>
        <div class="content-information">
            <h3 class="title">{{video.title}}</h3>
            <p class="light-paragraph"><strong>Description</strong>: {{video.description}}
            </p>
        </div>
    </div>
     <carousel [carousel]="carousel"></carousel>
</div>