<nav id="header-layout" class="navbar navbar-default navbar-fixed-top navbar-inverse" *ngIf="currentUser">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-right">
      <a class="navbar-brand" href="#">Hi {{currentUser.username}}</a>
        <a class="navbar-brand" [routerLink]="['/login']">Logout</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header" >
      <ul class="nav navbar-nav">
        <li class="active"><a  [routerLink]="['']">HOME</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>