<div class="carousel-list">
	<h2 class="header-block">{{carousel.ruleName}}</h2>
	<div id="{{ID}}">
		<div *ngFor="let recommendation of carousel.recommendations" >
			<div>
				 <a [routerLink]="['/watch',recommendation.contentId]">
						<img src=""
						 [imgload]="recommendation.logoURL" 
						 class="img-responsive center-block"/>
								<h5 class="title-movie">{{recommendation.title}}</h5>
              	</a>
			</div>
			<div class="pic-caption" *ngIf="carousel.ruleType!=='CHANNEL'">

				<h6 class="name-movie">{{recommendation.title}}</h6>
				<div class="rating" >
					<div class="rating-range">
						<div class="rating-selected" 
						[style.width.px]="(recommendation.starRating|| 0)*16">
							
						</div>

					</div>
				</div>
				<p><span>{{recommendation.releaseDate}}</span></p>
				<p><span>{{recommendation.duration}} min</span></p>
				<!---->
				<a class="btn-trailer" [routerLink]="['/watch',recommendation.contentId]">
					<i class="glyphicon glyphicon-play-circle"></i> <br>Watch
              	</a>
				<div class="btn-bottom-item">
					<div class="record">
						<i class="glyphicon glyphicon-plus"></i> Add List
					</div>
					<div class="trailer">
					<i class="glyphicon glyphicon-expand"></i> Trailer</div>
				</div>
			</div>
		</div>
	</div>
</div>