<div id="register">
    <div class="register-form col-sm-8">
        <h2>Register</h2>
        <form name="form" novalidate #f="ngForm" (ngSubmit)="f.form.valid && register()">
            <div class="form-group">
                <label for="firstName">Fist Name</label>
                <input class="form-control" name="firstName" type="text" required #firstName="ngModel" [(ngModel)]="model.firstName">
                <div *ngIf="f.submitted && !firstName.valid">firstName is required</div>
            </div >
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" name="lastName" type="text" required #lastName="ngModel" [(ngModel)]="model.lastName">
                <div *ngIf="f.submitted && !lastName.valid">lastName is required</div>
            </div>
            <div class="form-group">
                <label for="username">User Name</label>
                <input class="form-control" name="username" type="text" required #username="ngModel" [(ngModel)]="model.username">
                <div *ngIf="f.submitted && !username.valid">username is required</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" name="password" type="password" required #password="ngModel" [(ngModel)]="model.password">
                <div *ngIf="f.submitted && !password.valid">password is required</div>
            </div>
            <div>
                <button class="btn btn-default" [disabled]="loading">Register</button>
                <a [routerLink]="['/login']">Cancel</a>
            </div>
        </form>
    </div>
</div>